@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Lato';
}

:root{
  --white: #fff;
  --background-supera: #494949;
  --color-clear: #EFEFEF;
  --color-orange: #E96B00;
  --font: 'Lato', sans-serif;
}

body{
  overflow-x: hidden;
}